@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

}

/* Sur les téléviseurs */
@media tv{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }
}

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

    .container-contact{
        width: 80%;
        font-size: 18px;
    }

    .menu{
        display: none;
    }

    .menu-contact{
        display: block;
    }

    .btn-p {
        padding: 45px 25px 50px 130px;
    }

    .my-delete{
        margin-right: -37px;
    }
}

@media (max-width: 37.5em) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

    .artboard {
        padding: 1rem;
    }
}

@media only screen and (max-width: 37.5em),
only screen and (hover: none) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

    .container-service{
        text-align: center;
    }

    .card {
        display: block;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
        margin: 50px auto;
        width: 300px;
        height: 300px;
    }
    .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
    }
    .card__side--front {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
        transform: rotateY(0);
    }
    .card:hover .card__side--front {
        transform: rotateY(0);
    }
    .card__details {
        padding: 3rem 2rem;
    }
    .card__theme {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 5rem 4rem 1.5rem 4rem;
        text-align: right;
    }
    .card__theme-box {
        margin-bottom: 1.5rem;
    }
    .card__title {
        font-size: 4rem;
    }
}

@media all and (max-device-width: 780px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Quicksand;
    }

    h1{
        font-size: 20px;
    }


    .title-strong{
        font-size: x-large;
    }

    .menu{
        display: none;
    }

    .menu-contact{
        display: block;
        z-index: 10;
    }

    .home-elem, .main-footer > .footer-elem{
        display: block;
        text-align: center;
        width: 100%;
        margin: 50px auto;
    }

    .home-elem-image{
        width: 50%;
    }

    .text-pres-service {
        width: 100%;
        font-size: 12px;
        margin: 5% 10% 5% auto;
        text-align: justify;
    }

    .my-header .logo-and-title {
        position: absolute;
        top: 80%;
        left: 30%;
        transform: translate(-30%, -60%);
    }

    .my-header .header-nav-bar{
        padding: 10px;
    }
    .my-header .header-nav-bar .header-nav-bar-humburger{
        display: block;
    }

    .my-header-nav-bar .menu-coulissant{
        transition: display 10s ease-in-out;
    }

    .my-header .header-nav-bar:hover > .menu-coulissant{
        display: block;
        transition: display 10s ease-in-out;
    }

    .my-header-nav-bar .menu-coulissant li{
        list-style-type: none;
        padding: 5px;
        transition: all 10s ease-in-out;
    }

    .my-header-nav-bar .menu-coulissant li:hover > a{
        border-bottom: 1px solid var(--globalOrange);
    }

    .my-header-nav-bar .menu-coulissant li a{
        text-decoration: none;
        color: var(--text-color-theme);
    }

    .my-header .header-nav-bar .header-nav-bar-humburger{
        opacity: 1;
        border: 1px solid var(--globalOrange);
    }

    .my-header .header-nav-bar .header-nav-bar-humburger .humburger-bar{
        background: var(--globalOrange);
    }

    .container-service a {
        margin-bottom: 15px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    }

    .container-contact{
        width: 90%;
    }

    .more-infos{
        padding: 20px;
    }

    .more-infos .more-infos-elem {
        text-align: left;
        margin: 10px;
        font-size: 15px;
    }

    .more-infos .more-infos-elem .more-infos-elem-img{
        margin-right: 10px;
    }

    .btn-p {
        padding: 45px 25px 50px 130px;
    }

}