/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px){

}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){

}

/* Sur les téléviseurs */
@media tv{

}

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){
    .menu{
        display: none;
    }
}

@media (max-width: 37.5em) {
    .artboard {
        padding: 1rem;
    }
}

@media only screen and (max-width: 37.5em),
only screen and (hover: none) {
    .card {
        height: auto;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
    }
    .card__side--front {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
        transform: rotateY(0);
    }
    .card:hover .card__side--front {
        transform: rotateY(0);
    }
    .card__details {
        padding: 3rem 2rem;
    }
    .card__theme {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 5rem 4rem 1.5rem 4rem;
        text-align: right;
    }
    .card__theme-box {
        margin-bottom: 1.5rem;
    }
    .card__title {
        font-size: 4rem;
    }
}

@media all and (max-device-width: 480px) {
    h1{
        font-size: 20px;
    }

    .menu{
        display: none;
    }

    .text-pres-service {
        width: 100%;
        font-size: 12px;
        margin: 5% 10% 5% auto;
        text-align: justify;
    }

    .header .logo-and-title {
        position: absolute;
        top: 80%;
        left: 30%;
        transform: translate(-30%, -60%);
    }

    .header .header-nav-bar{
        padding: 10px;
    }
    .header .header-nav-bar .header-nav-bar-humburger{
        display: block;
    }

    .header-nav-bar .menu-coulissant{
        transition: display 10s ease-in-out;
    }

    .header .header-nav-bar:hover > .menu-coulissant{
        display: block;
        transition: display 10s ease-in-out;
    }

    .header-nav-bar .menu-coulissant li{
        list-style-type: none;
        padding: 5px;
        transition: all 10s ease-in-out;
    }

    .header-nav-bar .menu-coulissant li:hover > a{
        border-bottom: 1px solid var(--globalOrange);
    }

    .header-nav-bar .menu-coulissant li a{
        text-decoration: none;
        color: var(--text-color-theme);
    }

    .header .header-nav-bar .header-nav-bar-humburger{
        opacity: 1;
        border: 1px solid var(--globalOrange);
    }

    .header .header-nav-bar .header-nav-bar-humburger .humburger-bar{
        background: var(--globalOrange);
    }

    .container-service a {
        margin-bottom: 15px;
    }

}